/*Splash screen*/
.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #7ce7b4;
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #222e44;
    font-family: Montserrat;
    font-size: 50px;


}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}


.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;

}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.mission {
    text-align: center;
    font-size: medium;
    font: 1em 'Montserrat', sans-serif;
    padding-top: 30rem;
    /*look this when going to mobile*/
    padding-left: 10rem;
    padding-right: 10rem;

}


.members li {
    display: inline;
    font-size: medium;
    padding-left: 10px;
    padding-right: 10px;
}

.members {
    position: absolute;
    /*top: 50%; /* Place the top edge of the element at the vertical center */
    left: 50%; /* Place the left edge of the element at the horizontal center */
    transform: translate(-50%, -50%); /* Move the element up and left by half of its own width and height */
    text-align: center; /* Center the text inside the div */
}



